In [62]:
#Analysis of best NBA players for each season from 1985 to 2017

In [63]:
import os

In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns

In [65]:
SEASONS_DIR = '../Dataset/updated_1985-2017_stats.csv'

In [66]:
#converting stats to averages
df = pd.read_csv(SEASONS_DIR)
df['DRB'] = df['DRB'] / df['G']
df['STL'] = df['STL'] / df['G']
df['BLK'] = df['BLK'] / df['G']
df['PF'] = df['PF'] / df['G']
df.head()

,Unnamed: 0,Year,Player,Pos,Age,Team,G,GS,MP,DRB%,BLK%,DWS,DBPM,DRB,STL,BLK,PF
0,0,1985.0,Kareem Abdul-Jabbar*,C,37.0,LAL,79.0,79.0,2630.0,18.2,3.3,3.6,1.3,5.822785,0.797468,2.050633,3.012658
1,1,1985.0,Alvan Adams,PF,30.0,PHO,82.0,69.0,2136.0,18.1,1.3,3.3,2.1,4.231707,1.402439,0.585366,3.097561
2,2,1985.0,Mark Aguirre,SF,25.0,DAL,80.0,79.0,2699.0,12.5,0.5,1.9,-1.9,3.612500,0.750000,0.300000,3.125000
3,3,1985.0,Danny Ainge,SG,25.0,BOS,75.0,73.0,2564.0,7.9,0.1,2.8,0.4,2.560000,1.626667,0.080000,3.040000
4,4,1985.0,Chuck Aleksinas,C,25.0,GSW,74.0,4.0,1114.0,20.1,0.8,0.4,-2.0,2.472973,0.202703,0.202703,2.310811

In [67]:
#Reordering rows from highest average personal fouls (pf) to lowest pfs per NBA season (min 43 games played)
df = df[df.G >= 43]
df.sort_values(by = ['Year','PF'], inplace = True, ascending = [True, False])
df.rename({"Unnamed: 0":"Index"}, inplace = True, axis=1)
df.head()

,Index,Year,Player,Pos,Age,Team,G,GS,MP,DRB%,BLK%,DWS,DBPM,DRB,STL,BLK,PF
224,224,1985.0,Hakeem Olajuwon*,C,22.0,HOU,82.0,82.0,2914.0,20.4,4.3,4.9,1.4,6.512195,1.207317,2.682927,4.195122
121,121,1985.0,Roy Hinson,PF,23.0,CLE,76.0,75.0,2344.0,18.9,4.1,3.0,1.2,5.394737,0.671053,2.276316,4.092105
332,332,1985.0,Jerome Whitehead,C,28.0,GSW,79.0,78.0,2536.0,19.5,1.0,0.9,-1.6,5.101266,0.569620,0.544304,4.075949
186,186,1985.0,Rick Mahorn,PF,26.0,WSB,77.0,63.0,2072.0,25.0,2.9,3.9,3.9,5.948052,0.766234,1.350649,4.000000
301,301,1985.0,LaSalle Thompson,C,23.0,KCK,82.0,77.0,2458.0,26.7,2.9,3.0,2.1,7.073171,1.195122,1.560976,4.000000

In [68]:
#add up all of the defensive columns and the new column with the rankings for a new column (NEED TO WEIGHT WS AND +/-)
#subtract personal fouls from the total (NEED TO WEIGHT EACH CATEGORY PROPOERLY)
#select the max for each nba seaon
#decide on whether to use averages or not
#visual it